@import url('https://fonts.googleapis.com/css2?family=Karla&family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 400;
    color: #373636;
}

H1,
h2 {
    font-family: Heebo, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #292727;
}

#deeper,
#score {
    line-height: 75px;

}

#deeper a {
    text-decoration: none;
    color: rgb(68, 68, 2);
}

#score {
    float: left;
    font-size: 275%;
    margin-left: 25px;
}

#deeper {
    font-size: 105%;
    letter-spacing: 3px;
}

#deeper li {
    float: right;
    list-style-type: none;
    margin-right: 25px;

}

#deeper a:hover {
    border-bottom: 1px solid #292727;
}

.active {
    border-bottom: 1px solid #292727;
}

#happykids {
    height: 585px;
    width: 100%;
    background: url('../images/CoverSoccer.jpg') no-repeat center center;
    overflow: hidden;

}

#sec1 {
    height: 585px;
}

#expectation {
    padding-top: 30px;
    width: 33%;
    float: left;
    text-transform: uppercase;
    background-color: rgb(240, 85, 85);
}

#silla {
    padding-top: 30px;
    width: 33%;
    float: right;
    background-color: rgb(146, 234, 102);
}

#centro {
    width: 33;
    margin: 0 auto;
    background-color: black;
}